
<div>{% include('header.html') %}</div>
<h1>Bienvenido Admin</h1>
<h2>Inventario</h2>

    

<a href="/create-articulo">Crear articulo</a><br><br>

{% if mensaje_articulo_agregado_exitosamente %}
    {{ mensaje_articulo_agregado_exitosamente }}
{% endif %}
    
{% if mensaje_articulo_eliminado_exitosamente %}
    {{ mensaje_articulo_eliminado_exitosamente }}
{% endif %}

{% if mensaje_articulo_modificado_exitosamente %}
    {{ mensaje_articulo_modificado_exitosamente }}
{% endif %}

<br>

<br><br>

<div style="min-width: 90vw; display: flex; flex-direction: row;">
    <div style="min-width: 10%; flex-direction: column;">
        {% include('sidebar.html') %}
    </div>

    <div style="min-width: 90%;">
        <!--<div>
            <input type="search" name="busquedaArticulo" placeholder="Buscar articulo por nombre">
        </div>-->
        {% if articulos %}
        <div style="flex-direction: column;">
            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; grid-template-rows: auto; background-color: rgb(113, 183, 183);">
                <div>
                    <p>Id</p>
                </div>
                <div>
                    <p>Nombre</p>
                </div>
                <div>
                    <p>Foto</p>
                </div>
                <div>
                    <p>Precio</p>
                </div>
                <div>
                    <p>Stock</p>
                </div>
                <div>
                    <p>Acciones</p>
                </div>
            </div>

            <!-- Recuparar datos de articulos en la variable mostrar -->
            {% for mostrar in articulos %} 
                <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; grid-template-rows: auto;">
                    <div style="white-space: wrap; overflow: hidden; text-overflow: ellipsis;">{{ mostrar.articulo_id }}</div>
                    <div style="white-space: wrap; overflow: hidden; text-overflow: ellipsis;">{{ mostrar.articulo_articulo }}</div>
                    <div style="white-space: wrap; overflow: hidden; text-overflow: ellipsis;">
                        <img style="max-width: 180px;" src="/uploads/{{ mostrar.articulo_imagen }}" alt="">
                    </div>
                    <div style="white-space: wrap; overflow: hidden; text-overflow: ellipsis;">{{ mostrar.articulo_precio }}</div>
                    <div style="white-space: wrap; overflow: hidden; text-overflow: ellipsis;">{{ mostrar.articulo_stock }}</div>
                    <div style="white-space: wrap; overflow: hidden; text-overflow: ellipsis;">
                        <a href="/edit-articulo/{{ mostrar.articulo_id }}">Editar</a> | 
                        <a href="/destroy-articulo/{{ mostrar.articulo_id }}" onclick="return confirm('¿Desea borrar el producto?')">Eliminar</a>
                    </div>
                </div>
            {% endfor %}

        </div>
        {% else %}
            <p>No hay datos</p>
        {% endif %}
    </div>
    
</div>
<div>{% include('footer.html') %}</div>