<div>{% include('header.html') %}</div>

{% for proveedor_informacion in proveedor_id %}
    <form method="POST" action="/../editar-proveedor">
        <div>
            <h2>Editar proveedor</h2>
        </div>    

        <div>
            <div>
                <input type="text" name="proID" id="proID" value="{{ proveedor_informacion.proveedor_id }}">
            </div>
            <div>
                <label for="">Nombre:</label>
                <input type="text" name="pronombre" id="pronombre" value="{{ proveedor_informacion.proveedor_proveedor }}" placeholder="Javier">
            </div>
            <div>
                <label for="">Apellido paterno:</label>
                <input type="text" name="proapellidop" id="proapellidop" value="{{ proveedor_informacion.proveedor_aPaterno }}" placeholder="Sánchez">
            </div>
            <div>
                <label for="">Apellido materno:</label>
                <input type="text" name="proapellidom" id="proapellidom" value="{{ proveedor_informacion.proveedor_aMaterno }}" placeholder="Islas">
            </div>
            <div>
                <label for="">Teléfono:</label>
                <input type="text" name="protelefono" id="protelefono" value="{{ proveedor_informacion.proveedor_telefono }}" placeholder="247-###-###">
            </div>
            <div>
                <label for="">Dirección:</label>
                <input type="text" name="prodireccion" id="prodireccion" value="{{ proveedor_informacion.proveedor_direccion }}" placeholder="Calle de los Olivos">
            </div>
            <div>
                <label for="">Correo electrónico</label>
                <input type="email" name="procorreo" id="procorreo" value="{{ proveedor_informacion.proveedor_correo }}" placeholder="ejemplo@gmail.com">
            </div>
        </div>
        
        <div>
            <button type="submit">Editar</button>
            <a href="{{url_for('proveedor')}}">Regresar</a>
        </div>
    </form>
{% endfor %}

<div>{% include('footer.html') %}</div>