<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="acceso-login" method="POST">
            <h1>Iniciar sesión</h1>

            <!--Mensaje de error de correo electronico-->
            {% if mensaje_error_correo %}
            <div>
                {{ mensaje_error_correo }}
            </div>
            {% endif %}

            <!--Mensaje de error de contraseña-->
            {% if mensaje_error_contrasenia %}
            <div>
                {{ mensaje_error_contrasenia }}
            </div>
            {% endif %}

            <!-- Mensaje de contraseña restablecida exitosamente -->
            {% if mensaje_contrasenia_restablecida_exitosamente %}
                {{ mensaje_contrasenia_restablecida_exitosamente }}
            {% endif %}

            <div>
                <label for="">Correo electronico</label>
                <input type="email" name="usuacorreo" placeholder="ejemplo@gmail.com">
                <small>Coloca tu correo electronico que mas uses</small>
            </div>
            <div>
                <label for="">Contraseña</label>
                <input type="password" name="usuacontra" placeholder="Contraseña">
            </div>
            <div>
                <a href="{{url_for('restore_contrasenia')}}">Restablecer contraseña</a>
            </div>
            <div>
                <button type="submit">Iniciar sesión</button>
            </div>
        </form>
    </div>
</body>
</html>