<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form action="acceso-login" method="POST">
            <div>
                <label for="">Correo electronico</label>
                <input type="email" name="usuacorreo" placeholder="ejemplo@gmail.com">
                <small>Coloca tu correo electronico que mas uses</small>
            </div>
            <div>
                <label for="">Contraseña</label>
                <input type="password" name="usuacontra" placeholder="Contraseña">
            </div>
            <div>
                <input type="checkbox" id="checkbox" placeholder="ejemplo@gmail.com">
                <label for="">Marcame</label>
            </div>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
</body>
</html>